[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
[submodule "tmap.cartogram"]
	path = tmap.cartogram
	url = https://github.com/r-tmap/tmap.cartogram
[submodule "tmap.glyphs"]
	path = tmap.glyphs
	url = https://github.com/r-tmap/tmap.glyphs
[submodule "tmap.mapgl"]
	path = tmap.mapgl
	url = https://github.com/r-tmap/tmap.mapgl
[submodule "tmap.networks"]
	path = tmap.networks
	url = https://github.com/r-tmap/tmap.networks
[submodule "tmaptools"]
	path = tmaptools
	url = https://github.com/r-tmap/tmaptools
