[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
[submodule "tmap.cartogram"]
	path = tmap.cartogram
	url = https://github.com/r-tmap/tmap.cartogram
[submodule "tmaptools"]
	path = tmaptools
	url = https://github.com/r-tmap/tmaptools
