[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cols4all"]
	path = cols4all
	url = https://github.com/mtennekes/cols4all
	registered = false
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
[submodule "tmaptools"]
	path = tmaptools
	url = https://github.com/r-tmap/tmaptools
